In [1]:
max

In [2]:
max([4,2,3,1])

4

In [3]:
maximum_number=max([4,2,3,1])
print (maximum_number)

4

In [4]:
print('the max is:'+str(max([4,2,3,1])))

the max is:4

In [5]:
def increment(n):
    return n+1

In [6]:
six= increment(increment(increment(3)))
print (six)

6

In [7]:
def add(a, b):
    result = a + b
    return result

In [8]:
x = 3

In [9]:
seven = add(x, 4)

In [11]:
print(seven)

7

In [12]:
def shout(message):
    print(message.upper() + '!!!')

return_value = shout('hey there')
print(return_value)

HEY THERE!!!
None

In [13]:
def sayhello():
    print('Hey there!')

sayhello()

Hey there!

In [14]:
sayhello(123)

TypeError: sayhello() takes 0 positional arguments but 1 was given

In [15]:
def sayhello(name='World', greeting='Hello'):
    return '{}, {}!'.format(greeting, name)

In [16]:
sayhello()

'Hello, World!'

In [17]:
sayhello('Codeup')

'Hello, Codeup!'

In [18]:
sayhello('Codeup', 'Salutations')

'Salutations, Codeup!'

In [19]:
sayhello(greeting='Salutations', 'Codeup') # ERROR!

SyntaxError: positional argument follows keyword argument (777441615.py, line 1)

In [20]:
args = ['Codeup', 'Salutations']

sayhello(*args)

'Salutations, Codeup!'

In [21]:
kwargs = {'greeting': 'Salutations', 'name': 'Codeup'}

sayhello(**kwargs)

'Salutations, Codeup!'

In [24]:
a_global_variable = 42

def somefunction():
    print('Inside the function: %s' % a_global_variable)

somefunction()
print('Outside the function: %s' % a_global_variable)

Inside the function: 42
Outside the function: 42

In [25]:
def somefunction():
    a_local_variable = 'pizza'
    print('Inside the function: %s' % a_local_variable)

somefunction()
print('Outside the function: %s' % a_local_variable)

Inside the function: pizza

NameError: name 'a_local_variable' is not defined

In [26]:
n = 123

def somefunction():
    n = 10
    n = n - 3
    print('Inside the function, n == %s' % n)

print('Outside the function, n == %s' % n)
somefunction()
print('Outside the function, n == %s' % n)

Outside the function, n == 123
Inside the function, n == 7
Outside the function, n == 123

In [27]:
add_one = lambda n: n + 1
add_one(9)

10

In [28]:
square = lambda n: n ** 2
square(9)

81

In [42]:
# Define a function named is_two.
# It should accept one input and return True if the passed input is either the number or the string 2, False otherwise.

def is_two(n):
    if n == '2'or n== 2:
        return True
    else:
        return False

In [43]:
is_two(2)

True

In [44]:
is_two('2')

True

In [45]:
is_two("2")

True

In [46]:
is_two(9)

False

In [75]:
#Define a function named is_vowel. It should return True if the passed string is a vowel, False otherwise.

def is_vowel(str):
    for char in str:
        if char in "aeiouAEIOU":
            return True
        else: 
            return False

In [199]:
is_vowel('famous')

False

In [77]:
is_vowel('a')

True

In [79]:
is_vowel("o")

True

In [80]:
is_vowel("O")

True

In [81]:
is_vowel("A")

True

In [82]:
# Define a function named is_consonant. It should return True if the passed string is a consonant, 
# False otherwise. Use your is_vowel function to accomplish this.

def is_consonant(str):
     for char in str:
        if char in "aeiouAEIOU":
            return False
        else: 
            return True

In [83]:
is_consonant('f')

True

In [84]:
is_consonant('o')

False

In [85]:
is_consonant('1')

True

In [129]:
# define a function that accepts a string that is a word.
# The function should capitalize the first letter of the word if the word starts with a consonant.

def wordcap(str):
     for char in str:
   
        if char in "aeiouAEIOU":
            return str
        else: 
            return str.capitalize()

In [130]:
wordcap('dogcatcqat')

'Dogcatcqat'

In [90]:
wordcap('igloo')

'igloo'

In [91]:
wordcap('bird')

'Bird'

In [92]:
wordcap('apple')

'apple'

In [118]:
# Define a function named calculate_tip. It should accept a tip percentage (a number between 0 and 1) 
# and the bill total, and return the amount to tip.

def calculate_tip(bill,percent):
    if percent >= 1:
        return 'input error percent must be less than 1'
    else:
        return percent*bill

In [119]:
calculate_tip(5,1)

'input error percent must be less than 1'

In [120]:
calculate_tip(5,.1)

5.5

In [121]:
calculate_tip(5,.25)

6.25

In [122]:
calculate_tip(5,.99)

9.95

In [127]:
# Define a function named apply_discount.
# It should accept a original price, and a discount percentage, and return the price after the discount is applied.

def apply_discount(bill,discount):
     if discount >= 1:
        return 'input error percent must be less than 1'
     else:
        return -discount*bill+bill

In [128]:
apply_discount(15,.25)

11.25

In [155]:
# Define a function named handle_commas. 
# It should accept a string that is a number that contains commas in it as input, and return a number as output.

def handle_commas(number):
    newstring = ""
    for char in number:
        if char != ",":
            newstring = newstring + char
    print(newstring)

In [156]:
handle_commas("1,001")

1001

In [157]:
handle_commas("1,001,000,000")

1001000000

In [168]:
# Define a function named get_letter_grade. 
# It should accept a number and return the letter grade associated with that number (A-F).

def get_letter_grade(grade):
    if grade>=(90):
        return 'Grade is a A'
    elif grade>=(80):
        return 'Grade is a B'
    elif grade>=(70):
        return 'Grade is a C'
    elif grade>=(60):
        return 'Grade is a D'
    elif grade<=(60):
        return 'Grade is a F'

In [169]:
get_letter_grade(95)

'Grade is a A'

In [170]:
get_letter_grade(85)

'Grade is a B'

In [171]:
get_letter_grade(75)

'Grade is a C'

In [172]:
get_letter_grade(65)

'Grade is a D'

In [173]:
get_letter_grade(55)

'Grade is a F'

In [174]:
get_letter_grade(5)

'Grade is a F'

In [182]:
# Define a function named remove_vowels that accepts a string and returns a string with all the vowels removed.

def remove_vowels(word):
    newstring = ""
    for char in word:
        if char not in "aeiouAEIOU":
            newstring = newstring + char
    print(newstring)

In [183]:
remove_vowels('dog')

dg

In [184]:
remove_vowels('Onomatopoeia')

nmtp

In [201]:
# Define a function named normalize_name. It should accept a string and return a valid python identifier, that is:
# anything that is not a valid python identifier should be removed
# leading and trailing whitespace should be removed
# everything should be lowercase
# spaces should be replaced with underscores
# for example:
# Name will become name
# First Name will become first_name
# % Completed will become completed



import re
def normalize_name(name):
    lower_name=''
    no_punc_name=''
    lower_name = name.lower()
    no_punc_name = re.sub(r'[^\w\s]','', lower_name)
    no_punc_name.replace(" ", "_") 
    print( no_punc_name)

In [202]:
normalize_name('Bag*s of Air')

bags of air

In [1]:
# Write a function named cumulative_sum that accepts a list of numbers and returns a list that is the cumulative sum of the numbers in the list.
# cumulative_sum([1, 1, 1]) returns [1, 2, 3]
# cumulative_sum([1, 2, 3, 4]) returns [1, 3, 6, 10]


def cumulative_sum(list):
    return [sum(list[:n]) for n in list]

In [3]:
cumulative_sum([1,2,3,4,5,6])

[1, 3, 6, 10, 15, 21]